* {
    letter-spacing: 1rem;
    color: #108da3;
    background-color: #0f1726;
    font-family: 'Anton', sans-serif;
}

.main_text{
    position: relative;
    top: 0;
    font-size: 5.5rem;
    line-height: 0;
    display: flex;
}

.main_text h1{
    animation: appear ease-in-out 1000ms;
    margin: 6rem 0;
    letter-spacing: 2rem;
}

#timer {
    position: absolute;
    display: block;
    color: #ffffff;
    padding: 4rem;
    border-radius: 10px;
    border: #7FFFD4FF solid 2px;
    background-color: #0d121c;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 400;
    font-size: 8rem;
    width: 20%;
    height: 20%;
    text-align: center;
}

@keyframes appear {
    0%{
        color: #108da3;
    }
    50%{
        color: #7FFFD4FF;
    }
    100%{
        color: #108da3;
    }
}